{% extends 'base.html' %}


{% block content %}
{{ block.super}}
<div class="container-fluid"  >
    <h1 style="font-size:50px; margin-top:150px; color:white; font-family: 'Lemonade', cursive; " >You can donate blood and <br> save a life by signing in.</h1>
    <h1 style="font-size:50px; margin-top:150px; color:white; font-family: 'Lemonade', cursive; " >Register or login here if you need blood donors</h1>

    <a href=""  style="margin-top:50px; " class="btn btn-danger btn-small">Register</a>

</div>


{% endblock %}