{% load static %}

<div class="navbar ">
  <a href="{% url 'home' %}" class="logo">

    <img class="logo__name" src="{% static 'photos/bestlogo-removebg-preview.png' %}"
      alt="" width="100" height="100">
    <span class="logo__name">
      Blood-Bank
    </span>

  </a>


  <nav class="nav">
    <a href=" {% url 'home' %}" class="nav__link">Home</a>
    <a href="#" class="nav__link">Hospital</a>
    <a href="#" class="nav__link">Donor</a>
    <a href="{% url 'hos_signup' %}" class=" btn "> Hos -Signup </a>
    <a href="{% url 'hos_login' %}" class=" btn ">Hos- Login </a>
    <a href="{% url 'don_signup' %}" class=" btn "> Don -Signup </a>
    <a href="{% url 'don_login' %}" class=" btn ">Don- Login </a>
  </nav>


</div>