{% extends 'base.html' %}


{% block content %}
{{ block.super}}
<h1 class="page-title"> Create blood drive campaign.</h1>
<form class="donate-form">
    <div class="form-cont">
        <label for="fname"> Blood type:</label>
        <input required type="text" name="blood_type" placeholder="Blood type"></input>
    </div>
    <div class="form-cont">
        <label for="password">Amount <sup>*In litres</sup>:</label>
        <input required type="number" name="password"
            placeholder="Amount required"></input>
    </div>
    <input type="submit" value="Apply" class="btn"></input>
</form>
{% endblock %}