{% extends 'base.html' %}


{% block content %}
{{ block.super}}
<h1 class="page-title"> Hospital samples</h1>
<div class="samples-container">

    <div class="samples">

        <div class="sample">
            <p class="sample_type">Type A-</p>
            <span class="sample_num">13</span>
        </div>

        <div class="sample">
            <p class="sample_type">Type A+</p>
            <span class="sample_num">30</span>
        </div>

        <div class="sample">
            <p class="sample_type">Type B-</p>
            <span class="sample_num">44</span>
        </div>

        <div class="sample">
            <p class="sample_type">Type B+</p>
            <span class="sample_num">20</span>
        </div>

        <div class="sample">
            <p class="sample_type">Type AB-</p>
            <span class="sample_num">23</span>
        </div>

        <div class="sample">
            <p class="sample_type">Type AB+</p>
            <span class="sample_num">23</span>
        </div>

        <div class="sample">
            <p class="sample_type">Type O-</p>
            <span class="sample_num">23</span>
        </div>

        <div class="sample">
            <p class="sample_type">Type O+</p>
            <span class="sample_num">23</span>
        </div>
    </div>


</div>


{% endblock %}