{% extends 'base.html' %}


{% block content %}
{{ block.super}}
<h1 class="page-title"> Please enter your credentials<br> to login as a donor.</h1>

<form class="auth-form">

    <div class="form-cont">
        <label for="fname"> Username:</label>
        <input required type="text" name="fname"
            placeholder="Enter your first name"></input>
    </div>
    <div class="form-cont">
        <label for="password">Password:</label>
        <input required type="password" name="password"
            placeholder="Enter your password"></input>
    </div>
    <input type="submit" name="submit" class="btn"></input>
</form>
{% endblock %}