{% extends 'base.html' %}


{% block content %}
{{ block.super}}
<h1 class="page-title">Sign-up as a hospital</h1>

<form class="auth-form">
    <div class="form-cont">
        <label for="fname"> Name:</label>
        <input required type="text" name="fname"
            placeholder="Enter your first name"></input>
    </div>
    <div class="form-cont">
        <label for="contact">Contact:</label>
        <input required type="contact" name="lname"
            placeholder="Enter your contact"></input>
    </div>
    <div class="form-cont">
        <label for="email">Email:</label>
        <input required type="email" name="email" placeholder="Enter your email"></input>
    </div>
    <div class="form-cont">
        <label for="password">Password:</label>
        <input required type="password" name="password"
            placeholder="Enter your password"></input>
    </div>
    <div class="form-cont">
        <label for="password">Confirm :</label>
        <input required type="password" name=" confirm password"
            placeholder="Enter your password"></input>
    </div>
    <input type="submit" name="submit" class="btn"></input>
</form>
{% endblock %}