*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-size: 1.6rem;
  font-family: "Lemonada", cursive;
  font-weight: 300;
}

input {
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

.btn {
  cursor: pointer;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  width: fit-content;

  transition: all 0.2s;
}

.btn:hover {
  background-color: hsla(189, 27%, 57%, 0.753);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__name {
  font-size: 2.8rem;
  color: whitesmoke;
}

.nav {
  flex-grow: 0.4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__link {
  font-size: 1.8rem;
  text-decoration: none;
  color: whitesmoke;
}

.main-bg {
  background-image: linear-gradient(
      to right bottom,
      hsla(189, 27%, 57%, 0.753),
      hsla(358, 75%, 32%, 0.767)
    ),
    url("/static/photos/imageedit_3_8799574746.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  text-align: center;
  overflow-x: hidden;
  opacity: 1;
}

.home-container {
  width: 70%;
  margin: 0 auto;
}

.page-title {
  font-size: 5rem;
  color: white;
  margin-bottom: 6rem;
}

.auth-form,
.donate-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;

  padding: 1rem;
}

/* .auth-form span {
  display: none;
} */

.form-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form-cont sup {
  font-size: 1rem;
  color: black;
}

.auth-form input,
.donate-form input {
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  border: none;
}

.auth-form label,
.donate-form label {
  color: white;
  font-weight: bolder;
  display: inherit;
}

.auth-form .btn,
.donate-form .btn {
  margin: 3rem auto;
}

.donors {
  background-color: red;
  width: 50%;
  margin: 0 auto;
}

th {
  font-size: 2rem;
}

tr {
  cursor: pointer;
  border-bottom: 1px solid black;
  background-color: rgba(127, 255, 212, 0.7);
  transition: all 0.4s;
}

tr:hover {
  background-color: rgb(127, 255, 212);
}

td {
  padding: 0.5rem;
}

.samples-container,
.donors-container,
.campaigns-container {
  position: relative;
}

.create-btn {
  position: absolute;
  top: -12rem;
  right: 2rem;
}

.samples {
  width: 50rem;
  margin: 0 auto;
  flex-wrap: wrap;

  display: flex;
  justify-content: center;
}

.sample {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10rem;
  border: 2px solid red;
  background-color: rgba(127, 255, 212, 0.6);
  transition: all 0.4s;
}

.sample:hover {
  background-color: rgb(127, 255, 212);
}

.campaigns {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.campaign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;

  margin-bottom: 2rem;
  margin-left: 5rem;

  padding: 1rem 2rem;

  background-color: rgba(127, 255, 212, 0.6);
}

.campaign h3 {
  font-size: 2.5rem;
}

.campaign p {
  font-size: 1.7rem;
}
