{% extends 'base.html' %}


{% block content %}
{{ block.super}}
<h1 class="page-title"> Apply to donate.</h1>
<form class="donate-form">
    <div class="form-cont">
        <label for="fname"> Blood type:</label>
        <input required type="text" name="fname"
            placeholder="Enter your blood type"></input>
    </div>
    <div class="form-cont">
        <label for="password">Age:</label>
        <input required type="text" name="password" placeholder="Enter your age"></input>
    </div>
    <input type="submit" value="Apply" class="btn"></input>
</form>
{% endblock %}